.container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #e8ebed;

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}
