.modal,
.overlay {
    position: fixed;
    inset: 0;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .content {
        position: relative;
        padding: 20px;
        z-index: 1;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;

        transform: scale(0.8);
        opacity: 1;
        transition: all 0.4s ease;
    }

    .closeBtn {
        position: absolute;
        top: 10px;
        right: 8px;
        border: none;
        background-color: transparent;
        font-size: 19px;
        cursor: pointer;
    }
}

.overlay {
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.open {
        opacity: 0.6;
    }

    &.close {
        opacity: 0;
    }
}
