.wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 8px;
    background-color: #ccc;
    border-radius: 999px;

    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    &:hover {
        background: #a0a0a0;
        cursor: pointer;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    .icon {
        font-size: 25px;
    }
}
